@font-face {
  font-family: 'MonteCarloRegular';
  src: url('../../Sources/MonteCarlo-Regular.ttf') format('truetype');
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center;
  background-image: url('../../Imgs/AI.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: #000000; 
  height: 100vh;
  margin: 0;
}

.home-container p {
  font-size: 30px;
  margin: 3px;
}

.home-container h1 {
  font-size: 100px;
  margin: 3px;
  font-weight: 600;
  font-family: 'MonteCarloRegular', sans-serif;
}

.home-container h5 {
  font-size: 15px;
  font-weight: normal;
  margin: 3px;
}

.home-container a {
  background-color: #000000;
  margin: 10px;
  padding: 10px 20px;
  background-color: #3498db;
  color: #ecf0f1;
  text-decoration: none;
  font-size: 1em;
  width: 130px;
  border-radius: 5px;
}

@media screen and (max-width: 1000px) {
  .home-container h1 {
    font-size: 90px;
    border: 1px solid rgb(51, 153, 73);
  }
}

@media screen and (max-width: 800px) {
  .home-container h1 {
    font-size: 60px;
    border: 1px solid rebeccapurple;
  }

  .home-container p {
    font-size: 20px;
  }

  .home-container h5 {
    font-size: 12px;
  }

  .home-container a {
    width: 100px;
  }
}
